@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        
        font-family: 'Courgette', cursive;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 600px;
        height: 600px;
        section {
            
           button {
               align-self: flex-start;
               width: 100px;
               height: 30px;
               border: 1px solid;
               border-radius: 50px;
               margin: 20px 0;
               cursor: pointer;
               background-color: black;
               color: white;

           }
        }
    }
}